<main>
    <nav class="navbar navbar-main ">
      <div class="container header-cont">
        <div class="row" style="width: 100%;">
          <div class="col-6 col-md-1 col-lg-1 header-img">
            <a class="navbar-brand" href="/">
              <img src="/images/LogoCFA.png" alt="">
            </a>
          </div>
          <div class="col-12 col-md-10 col-lg-10">
            <form action="/productos/buscar" method="GET" class="search-form">
              <input type="text" name="buscar" placeholder="Buscar productos, marcas y más" class="search-form_input">
              <button type="submit" class="search-form_button"><i class="bi bi-search"></i></button>
            </form>
          </div>
          <div class="icons-nav col-6 col-md-1 col-lg-1 d-flex justify-content-end align-items-center">
            <div class="icon-nav">
              <a href="/users/login">
                <i class="bi bi-person-circle"></i>
              </a>
            </div>
            <div class="icon-nav">
              <a href="/productos/carrito">
                <i class="bi bi-cart2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  
  </main>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid justify-content-center">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse row" id="navbarNav">
        <ul class="navbar-nav align-items-center">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/productos">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PC Armadas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: red;">ADMIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>