<main>
    <nav class="navbar navbar-light">
      <div class="container">
        <div class="col-1">
          <a class="navbar-brand" href="/">
            <img src="/images/LogoCFA.png" alt="" width="100">
          </a>
        </div>
        <div class="col-10">
          <form action="" method="get" class="search-form">
            <input type="text" name="search" placeholder="Buscar productos, marcas y más" class="search-form_input">
            <button type="submit" class="search-form_button"><i class="bi bi-search"></i></button>
          </form>
        </div>
        <div class="icons-nav col-1">
          <div class="icon-nav">
            <a href="">
              <i class="bi bi-person-circle"></i>
            </a>
          </div>
          <div class="icon-nav">
            <a href="/carrito">
              <i class="bi bi-cart2"></i>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <div class="botonera">
      <div class="container">
        <div class="row">
          <div class="col-1 "></div>
          <div class="col-2 d-flex justify-content-center"><a href="/">Inicio</a></div>
          <div class="col-2 d-flex justify-content-center"><a href="">Productos</a></div>
          <div class="col-2 d-flex justify-content-center"><a href="">PC Armadas</a></div>
          <div class="col-2 d-flex justify-content-center"><a href="">FAQ</a></div>
          <div class="col-2 d-flex justify-content-center"><a href="">Contacto</a></div>
          <div class="col-1"></div>
        </div>
      </div>
    </div>
  </main>