<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>

    <div class="container armadoPc-wrapper-home">
        <div class="row">
          <div class="col-12">
          
       <figure class="banner-cfa-pcArmadas col-12">
           <img src="/images/cfa_banner_pcarmadas.png" alt="banner pc-armadas">
       </figure>
          </div>
            
          <% combos.forEach(combo => { %>
            <h2><%= combo.name %></h2>
            <% }) %>
            
           <div class="homediv-home col-12 col-md-6 col-lg-3">
            <section class="product-box-home">
              <a href="/armadoPc/comboSeleccionado">
                <figure class="product-box_image-home">
                  <img src="/images/pcarmadas1.jpg" alt="imagen de producto">
                </figure>
                <article class="product-box-title-pc">
                  <h2> Pc Armada Amd E1-6010n Dual Core 8 Gb RAM</h2>
                  <p>$12312</p>
                  
                </article>
              </a>
            </section>
          </div>
          <div class="homediv-home col-12 col-md-6 col-lg-3">
            <section class="product-box-home">
              <a href="/armadoPc/comboSeleccionado">
                <figure class="product-box_image-home">
                  <img src="/images/pcarmadas2.jpg" alt="imagen de producto">
                </figure>
                <article class="product-box-title-pc">
                  <h2>
                    Pc Armada Amd Athlon 8gb Ram 240gb Ssd Wifi</h2>
                  <p>$12312</p>
                  
                </article>
              </a>
            </section>
          </div>
          
          <div class="homediv-home col-12 col-md-6 col-lg-3">
            <section class="product-box-home">
              <a href="/armadoPc/comboSeleccionado">
                <figure class="product-box_image-home">
                  <img src="/images/pcarmadas3.jpg" alt="imagen de producto">
                </figure>
                <article class="product-box-title-pc">
                  <h2> Pc Armada Amd Dual Core E6010n 4gb Ram Ssd Wifi</h2>
                  <p>$12312</p>
                  
                </article>
              </a>
            </section>
          </div>

          <div class="homediv-home col-12 col-md-6 col-lg-3">
            <section class="product-box-home">
              <a href="/armadoPc/comboSeleccionado">
                <figure class="product-box_image-home">
                  <img src="/images/pcarmadas4.jpg" alt="imagen de producto">
                </figure>
                <article class="product-box-title-pc">
                  <h2> Pc Armada Amd E1-6010n Dual Core 8 Gb RAM
                  Dual Core 8 Gb Ram</h2>
                  <p>$12312</p>
                  
                </article>
              </a>
            </section>
          </div>
    
        </div>
        
      </div>

    </div>

    <%- include('partials/footer.ejs') %>
</body>
</html>