<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>

            <div class="container mt-1 mb-1">
                <div class="carga-content">
                    <div class="titulo-carousel col-12">
                        <h2 class="products-title-home">Carga de Producto</h2>
                    </div>
                    <div class="col-lg-8">
                        <div class="form-floating mb-3">
                            <div class="">
                                <input class="form-control form-control-lg" type="file" id="formFile" name="img">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-8">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nombre" placeholder="nombre" name="nombre">
                            <label for="modelo">Nombre del Producto</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-8">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="detalle" placeholder="detalle" name="detalle"
                                style="height: 150px;">
                            <label for="modelo">Detalle del Producto</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-8">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="precio" placeholder="precio" name="precio">
                            <label for="modelo">Precio del Producto</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-8">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="oferta" placeholder="oferta" name="oferta">
                            <label for="modelo">Oferta del Producto</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-8">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="oferta" placeholder="oferta" name="oferta">
                            <label for="modelo">Categoría</label>
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-lg-8">
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </div>
                </div>
            </div>

            <%- include('partials/footer.ejs') %>
    </body>

</html>