<!DOCTYPE html>
<html lang="es">

<%- include('partials/head.ejs') %>
<meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0, maximum-scale=1.0">
    <body>
        <%- include('partials/header.ejs') %>
            <div class="container total">
                <div class="texto">
                    <h1>Mi carrito</h1>
                </div>
                <div class="container table">
                    <div class="row">
                   <div class="col-sm"> 
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <div class="image"><img src="/images/computadora1.png" alt="placeholder"></div>
                                </th>
                                <th>
                                    <div class="content">Notebook HP ENVY x360 Convertible 13-ay0103la</div>
                                </th>
                                <th>$30000</th>
                                <th><label for="tentacles">Cantidad:</label>
                                    <input type="number" id="tentacles" name="tentacles" min="1" max="100">
                                </th>
                                <th> <button type="button" class="close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button></th>
                            </tr>
                        </thead></table>
                        <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <div class="image"><img src="/images/auriculares.png" alt="placeholder"></div>
                                </th>
                                <th>
                                    <div class="content">Auriculares Sennheiser PNG transparente</div>
                                </th>
                                <th>$5000</th>
                                <th><label for="tentacles">Cantidad:</label>
                                    <input type="number" id="tentacles" name="tentacles" min="1" max="100">
                                </th>
                                <th> <button type="button" class="close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button></th>
                            </tr>
                        </thead></table>
                        <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <div class="image"><img src="/images/computadora1.png" alt="placeholder"></div>
                                </th>
                                <th>
                                    <div class="content">Notebook HP ENVY x360 Convertible 13-ay0103la</div>
                                </th>
                                <th>$30000</th>
                                <th><label for="tentacles">Cantidad:</label>
                                    <input type="number" id="tentacles" name="tentacles" min="1" max="100">
                                </th>
                                <th> <button type="button" class="close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button></th>
                            <tr>
                        </thead></table>
                        <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <div class="image"><img src="/images/auriculares.png" alt="placeholder"></div>
                                </th>
                                <th>
                                    <div class="content">Auriculares Sennheiser PNG transparente</div>
                                </th>
                                <th>$5000</th>
                                <th><label for="tentacles">Cantidad:</label>
                                    <input type="number" id="tentacles" name="tentacles" min="1" max="100">
                                </th>
                                <th> <button type="button" class="close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button></th>
                            </tr>
                        </thead>
                    </table>
                    <table class="table table-hover"> 
                        <thead>
                            <tr>
                                <th>
                                    <div class="image"><img src="/images/computadora1.png" alt="placeholder"></div>
                                </th>
                                <th>
                                    <div class="content">Notebook HP ENVY x360 Convertible 13-ay0103la</div>
                                </th>
                                <th>$30000</th><br>
                                <th><label for="tentacles">Cantidad:</label>
                                    <input type="number" id="tentacles" name="tentacles" min="1" max="100">
                                </th>
                                <th> <button type="button" class="close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button></th>
                            </tr>
                        </thead>
                    </table>
                    <table class="table table-hover"> 
                        <thead>
                            <tr>
                                <th><button type="button" class="btn btn-outline-primary">Seguir comprando</button>
                                </th>
                                <th>
                                    <div class="content total">Total:</div>
                                </th>
                                <th>$500000</th>
                                <th><label for="tentacles"></label>
                                </th>
                                <th> <button type="button" class="btn btn-outline-secondary">Comprar</button></th>
                            </tr>
                        </thead>


                    </table>
                </div>
            </div>
        </div>

            

            <%- include('partials/footer.ejs') %>
    </body>

</html>