
<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

    <body>

        <%- include('partials/header.ejs') %>


            <div class="container box-contacto_ubi">
                <h1 class="titulo-contacto"> Nuestras Sucursales</h1>
                <div class="row">
                <div class="col-xs-6">
                    

                        <div class="ciudadela-contacto">
                            <h2 class="ciudadela-titulo"> CIUDADELA</h2>
                            <div class="data-ciudadela">
                                <div class="address"> Av. Gaona 4041</div>
                                <div class="place">Ciudadela, Provincia de Buenos Aires</div>
                                <div class="more">Tel: 011-33216464</div>
                                <div class="more">Horarios: Lunes a sábado de 9 a 20 hs</div><br>

                            </div>
                            <div class ="mapa"><iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15615.578161880412!2d-58.55091521668284!3d-34.635228763218144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc80fe5021af1%3A0x7d787d67797b9c4a!2sAv.%20Gaona%204041%2C%20B1702APW%20Ciudadela%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1616978731909!5m2!1ses!2sar"
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
                        </div></div>
                        <div class="lanus-contacto">
                            <h2 class="lanus-titulo"> LANUS</h2>
                            <div class="data-lanus">
                                <div class="address">Av. Hipolito Yrigoyen 4552</div>
                                <div class="place">Lanus, Provincia de Buenos Aires</div>
                                <div class="more">Tel: 011-65634497</div>
                                <div class="more">Horarios:Lunes a Sabados 9 a 19hs.</div><br>
                            </div>
                            <div class ="mapa"> <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.9084186268055!2d-58.39385718601085!3d-34.707489780432724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccd22ff9b3453%3A0xb973163c41869fa3!2sAv.%20Hipolito%20Yrigoyen%204552%2C%20B1826DQS%20Lan%C3%BAs%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1617317466887!5m2!1ses-419!2sar"
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
                        </div>
                        <div class="sanmiguel-contacto">
                            <h2 class="sanmiguel-titulo"> SAN MIGUEL</h2>
                            <div class="sanmiguel-info">
                                <div class="address"> Av. Pres . Juan Domingo Perón 1616</div>
                                <div class="place">San Miguel, Provincia de Buenos Aires</div>
                                <div class="more">Tel: 011-33216464</div>
                                <div class="more">Horarios: Lunes a sábado de 9 a 20 hs</div><br>
                            </div>
                        
                            <div class ="mapa"><iframe class="mapa-sm" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.458792409195!2d-58.71441038601777!3d-34.54193738047554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbd128479ed7b%3A0xcabdb26727923aa9!2sPaseo%20del%20Centro%2C%20Av.%20Pres.%20Juan%20Domingo%20Per%C3%B3n%201616%2C%20B1663GHS%20San%20Miguel%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1617317814994!5m2!1ses-419!2sar"
                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div></div>
                    </div>
                </div>

               
            
            
            





            <%- include('partials/footer.ejs') %>
    </body>

</html>
