<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

    <body>

        <%- include('partials/header.ejs') %>
                     

<div class="container contacto-box">
    <h1 class="titulo-contacto"> <i class="bi bi-geo-alt"></i> Nuestras Sucursales

    </h1>
</div>





        <%- include('partials/footer.ejs') %>
    </body>

</html>
