<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

    <body>

        <%- include('partials/header.ejs') %>


            <div class="container box-contacto_ubi">
                <h1 class="titulo-contacto"> Nuestras Sucursales</h1>

                <div class="col-lg-8">
                    <div class="row">
                        <article class="ubicacion-box col-4">
                            <div class="ciudadela-contacto">
                                <h2 class="ciudadela-titulo"> | CIUDADELA</h2>
                                <div class="data-ciudadela">
                                    <div class="address"> Av. Gaona 4041</div>
                                    <div class="place">Ciudadela, Provincia de Buenos Aires</div>
                                    <div class="more">Tel: 011-33216464</div>
                                    <div class="more">Horarios: Lunes a sábado de 9 a 20 hs</div>

                                </div>
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15615.578161880412!2d-58.55091521668284!3d-34.635228763218144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc80fe5021af1%3A0x7d787d67797b9c4a!2sAv.%20Gaona%204041%2C%20B1702APW%20Ciudadela%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1616978731909!5m2!1ses!2sar"
                                    width="400" height="300" style="border:0;" allowfullscreen=""
                                    loading="lazy"></iframe>
                            </div>
                            <div class="lanus-contacto">
                                <h2 class="lanus-titulo">| LANUS</h2>
                                <div class="data-lanus">
                                    <div class="address">Av. Hipolito Yrigoyen 4552</div>
                                    <div class="place">Lanus, Provincia de Buenos Aires</div>
                                    <div class="more">Tel: 011-65634497</div>
                                    <div class="more">Horarios:Lunes a Sabados 9 a 19hs.</div>
                                </div>
                            </div>
                            <div class="sanmiguel-contacto">
                                <h2 class="sanmiguel-titulo"> | SAN MIGUEL</h2>
                                <div class="sanmiguel-info">
                                    <div class="address"> Av. Pres . Juan Domingo Perón 1616</div>
                                    <div class="place">San Miguel, Provincia de Buenos Aires</div>
                                    <div class="more">Tel: 011-33216464</div>
                                    <div class="more">Horarios: Lunes a sábado de 9 a 20 hs</div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            </div>
            </div>





            <%- include('partials/footer.ejs') %>
    </body>

</html>