<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

    <body>

        <%- include('partials/header.ejs') %>


            <div class="container box-contacto_ubi">
                <h1 class="titulo-contacto"> Nuestras Sucursales</h1>

                <div class="col-lg-8" >
                    <div class="row">
                <article class="ubicacion-box col-4"> 
                <div class="ciudadela-contacto">
                    <h2 class="ciudadela-titulo"> | CIUDADELA</h2>
                    <div class="data-ciudadela">
                        <div class="address"> Av. Gaona 4041</div>
                        <div class="place">Ciudadela, Provincia de Buenos Aires</div>
                        <div class="more">Tel: 011-33216464</div>
                        <div class="more">Horarios: Lunes a sábado de 9 a 20 hs</div>

                    </div>
                </div>
                <div class="lanus-contacto">
                    <h2 class="lanus-titulo">| LANUS</h2>
                    <div class="data-lanus">
                        <div class="address">Av. Hipolito Yrigoyen 4552</div>
                        <div class="place">Lanus, Provincia de Buenos Aires</div>
                        <div class="more">Tel: 011-65634497</div>
                        <div class="more">Horarios:Lunes a Sabados 9 a 19hs.</div>
                    </div>
                </div>
                <div class="sanmiguel-contacto">
                    <h2 class="sanmiguel-titulo"> | SAN MIGUEL</h2>
                    <div class="sanmiguel-info">
                        <div class="address"> Av. Pres . Juan Domingo Perón 1616</div>
                        <div class="place">San Miguel, Provincia de Buenos Aires</div>
                        <div class="more">Tel: 011-33216464</div>
                        <div class="more">Horarios: Lunes a sábado de 9 a 20 hs</div>
                    </article>
                    </div>
                </div>
                       <article class="ubicacion-box col-8">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!4v1614956277104!6m8!1m7!1ssJ4A1iozMNEtjBblALfWOw!2m2!1d-34.63484750703131!2d-58.54341230759101!3f87.85!4f7.799999999999997!5f0.7820865974627469"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  
                </article>
                </div>
            </div>
        </div>





            <%- include('partials/footer.ejs') %>
    </body>

</html>