<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

  <body>
    <%- include('partials/header.ejs') %>

      <div class="container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/banner1.jpg" class="d-block w-100" alt="banner1">
            </div>
            <div class="carousel-item">
              <img src="/images/banner2.jpg" class="d-block w-100" alt="banner2">
            </div>
            <div class="carousel-item">
              <img src="/images/banner3.jpg" class="d-block w-100" alt="banner3">
            </div>
          </div>
        </div>
        <!-- slicky carousel -->
         <div class="titulo-carousel col-12">
          <h2 class="products-title-home">Productos destacados</h2>
        </div>
        <div class="center" style="text-align:center; color:rgb(90, 90, 90); ">
          <div>
            <div class="card" style="width: 280px; height: 400px;">
              <figure class="d-flex justify-content-center align-items-center"
                style="border: 1px solid #e8e8e8; height: 250px; margin: 0; overflow: hidden;">
                <img src="/images/hp-monitor.1.jpg" class="card-img-top" alt="...">
              </figure>
              <div class="card-body">
                <h5 class="card-title">Nombre del producto</h5>
                <p class="card-text">$PRECIO.</p>
                <a href="/detalle" class="btn btn-primary" style="background-color: #00587a; border-color: #00587a;">Ir al
                  producto</a>
              </div>
            </div>
          </div>
          <div>
            <div class="card" style="width: 280px; height: 400px;">
              <figure class="d-flex justify-content-center align-items-center"
                style="border: 1px solid #e8e8e8; height: 250px; margin: 0; overflow: hidden;">
                <img src="/images/computadora1.png" class="card-img-top" alt="...">
              </figure>
              <div class="card-body">
                <h5 class="card-title">Nombre del producto</h5>
                <p class="card-text">$PRECIO.</p>
                <a href="/detalle" class="btn btn-primary" style="background-color: #00587a; border-color: #00587a;">Ir al
                  producto</a>
              </div>
            </div>
          </div>
          <div>
            <div class="card" style="width: 280px; height: 400px;">
              <figure class="d-flex justify-content-center align-items-center"
                style="border: 1px solid #e8e8e8; height: 250px; margin: 0; overflow: hidden;">
                <img src="/imagenProducto/armada3.jpg" class="card-img-top" alt="...">
              </figure>
              <div class="card-body">
                <h5 class="card-title">Nombre del producto</h5>
                <p class="card-text">$PRECIO.</p>
                <a href="/detalle" class="btn btn-primary" style="background-color: #00587a; border-color: #00587a;">Ir al
                  producto</a>
              </div>
            </div>
          </div>
          <div>
            <div class="card" style="width: 280px; height: 400px;">
              <figure class="d-flex justify-content-center align-items-center"
                style="border: 1px solid #e8e8e8; height: 250px; margin: 0; overflow: hidden;">
                <img src="/imagenProducto/armada3.jpg" class="card-img-top" alt="...">
              </figure>
              <div class="card-body">
                <h5 class="card-title">Nombre del producto</h5>
                <p class="card-text">$PRECIO.</p>
                <a href="/detalle" class="btn btn-primary" style="background-color: #00587a; border-color: #00587a;">Ir al
                  producto</a>
              </div>
            </div>
          </div>
          <div>
            <div class="card" style="width: 280px; height: 400px;">
              <figure class="d-flex justify-content-center align-items-center"
                style="border: 1px solid #e8e8e8; height: 250px; margin: 0; overflow: hidden;">
                <img src="/imagenProducto/armada3.jpg" class="card-img-top" alt="...">
              </figure>
              <div class="card-body">
                <h5 class="card-title">Nombre del producto</h5>
                <p class="card-text">$PRECIO.</p>
                <a href="/detalle" class="btn btn-primary" style="background-color: #00587a; border-color: #00587a;">Ir al
                  producto</a>
              </div>
            </div>
          </div>
          <div>
            <div class="card" style="width: 280px; height: 400px;">
              <figure class="d-flex justify-content-center align-items-center"
                style="border: 1px solid #e8e8e8; height: 250px; margin: 0; overflow: hidden;">
                <img src="/images/auriculares.png" class="card-img-top" alt="...">
              </figure>
              <div class="card-body">
                <h5 class="card-title">Nombre del producto</h5>
                <p class="card-text">$PRECIO.</p>
                <a href="/detalle" class="btn btn-primary" style="background-color: #00587a; border-color: #00587a;">Ir al
                  producto</a>
              </div>
            </div>
          </div>
          
        </div> 
        <!-- slicky carousel -->
        
        <!-- Categorias -->
        <section id="categories" class="air">
          <div class="cont">
            <h2>¿Qué estás buscando?</h2>
            <div class="cats">
              <div class="column col-6">
                <a href="/harddisk">
                  <div class="cat">
                    <div class="svg-icon">
                      <img src="/images/icons/hard-drive.svg" alt="">
                    </div>
                    <div class="svg-text">
                      Discos Rigidos </div>
                  </div>
                </a>
                <a href="/ram">
                  <div class="cat">
                    <div class="svg-icon">
                      <img src="/images/icons/ram.svg" alt="">
                    </div>
                    <div class="svg-text">
                      Memorias RAM </div>
                  </div>
                </a>
              </div>
              <div class="column col-6">
                <a href="/placas-de-video">
                  <div class="cat">
                    <div class="svg-icon">
                      <img src="/images/icons/graphics-card.svg" alt="">
                    </div>
                    <div class="svg-text">
                      Placas de video </div>
                  </div>
                </a>
                <a href="/monitores">
                  <div class="cat">
                    <div class="svg-icon">
                      <img src="/images/icons/desktop.svg" alt="">
                    </div>
                    <div class="svg-text">
                      Monitores </div>
                  </div>
                </a>
              </div>
              <div class="column col-6">
                <a href="/mouses">
                  <div class="cat">
                    <div class="svg-icon">
                      <img src="/images/icons/mouse.svg" alt="">
                    </div>
                    <div class="svg-text">
                      Mouses </div>
                  </div>
                </a>
                <a href="/discos-estado-solido">
                  <div class="cat">
                    <div class="svg-icon">
                      <img src="/images/icons/ssd.svg" alt="">
                    </div>
                    <div class="svg-text">
                      SSD </div>
                  </div>
                </a>
              </div>
              <div class="column col-6">
                <a href="/microprocesador">
                  <div class="cat">
                    <div class="svg-icon">
                      <img src="/images/icons/cpu.svg" alt="">
                    </div>
                    <div class="svg-text">
                      Procesadores </div>
                  </div>
                </a>
                <a href="/motherboard">
                  <div class="cat">
                    <div class="svg-icon">
                      <img src="/images/icons/motherboard.svg" alt="">
                    </div>
                    <div class="svg-text">
                      Motherboards </div>
                  </div>
                </a>
              </div>
              <div class="column col-6">
                <a href="/auriculares-y-microfonos">
                  <div class="cat">
                    <div class="svg-icon">
                      <img src="/images/icons/headphones.svg" alt="">
                    </div>
                    <div class="svg-text">
                      Auriculares </div>
                  </div>
                </a>
                <a href="/teclados">
                  <div class="cat">
                    <div class="svg-icon">
                      <img src="/images/icons/keyboard.svg" alt="">
                    </div>
                    <div class="svg-text">
                      Teclados </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </section> 
        <!-- Categorias -->

         <div class="container products-wrapper-home">
          <div class="row">
            <div class="col-12">
              <h2 class="products-title-home">Ofertas</h2>
            </div>
            <div class="homediv-home col-12 col-md-6 col-lg-3">
              <section class="product-box-home">
                <a href="/detalle">
                  <figure class="product-box_image-home">
                    <img src="/images/hp-monitor.1.jpg" alt="imagen de producto">
                  </figure>
                  <article class="product-box_data-home">
                    <h2>$precio</h2>
                    <span class="tachado-home">50% OFF</span>
                    <p>nombre</p>
                  </article>
                </a>
              </section>
            </div>
            <div class="homediv-home col-12 col-md-6 col-lg-3">
              <section class="product-box-home">
                <a href="/detalle">
                  <figure class="product-box_image-home">
                    <img src="/images/hp-monitor.1.jpg" alt="imagen de producto">
                  </figure>
                  <article class="product-box_data-home">
                    <h2>$precio</h2>
                    <span class="tachado-home">50% OFF</span>
                    <p>nombre</p>
                  </article>
                </a>
              </section>
            </div>
            <div class="homediv-home col-12 col-md-6 col-lg-3">
              <section class="product-box-home">
                <a href="/detalle">
                  <figure class="product-box_image-home">
                    <img src="/images/hp-monitor.1.jpg" alt="imagen de producto">
                  </figure>
                  <article class="product-box_data-home">
                    <h2>$precio</h2>
                    <span class="tachado-home">50% OFF</span>
                    <p>nombre</p>
                  </article>
                </a>
              </section>
            </div>
            <div class="homediv-home col-12 col-md-6 col-lg-3">
              <section class="product-box-home">
                <a href="/detalle">
                  <figure class="product-box_image-home">
                    <img src="/images/hp-monitor.1.jpg" alt="imagen de producto">
                  </figure>
                  <article class="product-box_data-home">
                    <h2>$precio</h2>
                    <span class="tachado-home">50% OFF</span>
                    <p>nombre</p>
                  </article>
                </a>
              </section>
            </div>
          </div>
        </div>

      </div> <!-- div.container -->


      <%- include('partials/footer.ejs') %>
  </body>

</html>