<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

  <body>

    <%- include('partials/header.ejs') %>

      <div class="container">

        <div class="container form">
          <div class="col-md-12 text-center">
            <form class="container login">
              <h1>Iniciar Sesion</h1>
              

              <input name="usuario" type="text" id="usuario" placeholder="Ingresa Usuario" autofocus="" required=""></p>

              <input name="contrasenia" type="password" id="contrasenia" placeholder="Ingresa Password" required=""></p>
              
              <button type="submit" class="btn btn-primary btn-login">Iniciar sesion</button>
              <div>
                <a href="/users/registro">
                  ¿No estas registrado?
                </a>
              </div>

            </form>
          </div>
        </div>
      </div>
      <%- include('partials/footer.ejs') %>

  </body>

</html>