<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

    <body>

        <%- include('partials/header.ejs') %>

            <div class="container box-preguntas">
                <h1 class="title-preg-frec"> <i class="bi bi-journal-text"></i> Preguntas frecuentes </h1>
                <h2 class="preg-1"><i class="bi bi-patch-question"></i> ¿Como funciona CFA?</h2>
                <p class="respuesta-1">Simplemente escribe el nombre del componente que deseas buscar, filtra las
                    páginas web donde quieres que se busque (pueden ser todas o algunas) y clickea en buscar.
                    Automáticamente se listarán los resultados para el producto que buscaste, ordenándolos de menor a
                    mayor precio. Cada producto encontrado indicará el sitio en que se encuentra, su disponibilidad de
                    stock y un enlace. Al hacer click en un producto, serás automáticamente redirigido a la página web
                    del vendedor. <i class="bi bi-check2"></i></p>


                <h1 class="preg-2"> <i class="bi bi-patch-question"></i> ¿Cuales son las sucursales de CFA?</h1>
                <p class="respuesta-2"> Contamos con 3 sucursales en todo el país.
                    Para consultar días, horario de atención y ubicación de tu sucursal más cercana, ingresá <a
                        href="#">aquí</a> . <i class="bi bi-check2"></i></p>

                <h1 class="preg-3"> <i class="bi bi-patch-question"></i> ¿Son precios Finales o más IVA? </h1>
                <p class="respuesta-3">Todos los precios son finales IVA incluido. <i class="bi bi-check2"></i></p>

                <h1 class="preg-4"> <i class="bi bi-patch-question"></i> ¿Hacen envios al interior?</h1>
                <p class="respuesta-4">Hacemos envíos a todo el país mediante OCA, que es un servicio Puerta a Puerta
                    (puede llegar a tu domicilio o a la sucursal de OCA más cercana a tu domicilio). <i class="bi bi-check2"></i></p>
                <h1 class="preg-5"> <i class="bi bi-patch-question"></i> ¿Hacen factura A? ¿Cómo la solicito?</h1>
                <p class="respuesta-5"> Efectivamente hacemos factura A, y en el caso de ser un cliente nuevo tiene que
                    ingresar el cliente con número de CUIT y en las observaciones del pedido aclarar que es con factura
                    A. <i class="bi bi-check2"></i></p>

            </div>

            </div>



            <%- include('partials/footer.ejs') %>
    </body>

</html>