/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Raleway:wght@100;300;400&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #e8e8e8;
  font-family: Raleway;
}

.navbar{
  background-color: #00587a;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
  width: 95%;
  padding-left: 5%;
  
}

.search-form_input {
  border: solid 1px #e8e8e8;
  display: block;
  width: 100%;
  padding: 7px 35px 7px 20px;
  height: 40px;
  /* font-size: 1.5em; */
  border-radius: 50px;
}
.search-form_input:focus {
 outline: none;
}
.search-form_button {
  position: absolute;
  right: 7px;
  height: 60%;
  background-color: #ffffff;
  border: none;
  color: var(--gray);
  cursor: pointer;
  padding: 0px 10px;
}

.icons-nav{
  display: flex;
  margin-bottom: 8px;
  color: #e8e8e8;
}

.icon-nav{
  font-size: 35px;
}

.icon-nav a{
  color: #e8e8e8;
}

.icon-nav:last-child{
  margin-left: 20px;
}

.botonera{
  background-color: #ffffff;
  padding: 0px;
  font-size: 20px;
  font-weight: bold;
  
}

.botonera a{
  text-decoration: none;
  color: rgb(90, 90, 90);
  padding: 15px 11px;
}

footer{
  background-color: #252525;
  color: #e8e8e8;
  height: 300px;
  display: flex;
  
}

footer div{
  border: solid 1px #e8e8e8;
  width: 100%;
  height: 100%;
  padding: 15px;
  text-align: center;
}

footer div img{
  width: 30%;
  padding-top: 20px;
}

footer div p.logo{
  padding-top: 40px;
}

footer div.sociales{
  border: none;
  font-size: 35px;
  /* letter-spacing: 50px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

footer div i{
  margin: 0px 12%;
}

footer div.pagos{
  border: none;
}
footer div.pagos img{
  border: none;
  justify-content: space-around;
  margin: 10px 10px;
}

footer div.foot-sucursales{
  border: none;
  text-align: left;
  display:flex;
  height: 75px;
}
footer div.foot-sucursales i{
  margin: 0; 
}
