/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Raleway:wght@100;300;400&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #e8e8e8;
  font-family: Raleway;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(0, 0, 0, .3); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  width: 55px;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* HEADER */
.navbar-toggler:focus{
  box-shadow: none;
}
.navbar-main{
  background-color: #00587a;
}
.header-cont{
  display: flex;
  flex-wrap: wrap;
}
.header-img{
  order: -2;
  
}
.navbar-main img{
  width: 80px;
  padding: 10px 0;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-form_input {
  border: solid 1px #e8e8e8;
  display: block;
  width: 100%;
  padding: 7px 35px 7px 20px;
  height: 40px;
  border-radius: 50px;
}

.search-form_input:focus {
 outline: none;
}
.search-form_button {
  position: absolute;
  right: 7px;
  height: 60%;
  background-color: #ffffff;
  border: none;
  color: #6d6d6d;
  cursor: pointer;
  padding: 0px 10px;
}

.icons-nav{
  margin-bottom: 8px;
  color: #e8e8e8;
  order: -1;
}

.icon-nav{
  font-size: 35px;
}

.icon-nav a{
  color: #e8e8e8;
}

.icon-nav:last-child{
  margin-left: 20px;
}

li .nav-item a{
  font-weight: bold;
}


/* Final Header */

/* FOOTER */

footer{
  color: #e8e8e8;
  height: 340px;
}

footer div{
  border: solid 1px #e8e8e8;
  width: 100%;
  height: 100%;
  padding: 15px;
  text-align: center;
  background-color: #252525;
}

footer div img{
  width: 30%;
  padding-top: 20px;
}

footer div p.logo{
  padding-top: 40px;
}

footer div.sociales{
  border: none;
  font-size: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  height: 250px;
}

footer div.sociales a{
  color: #e8e8e8;
  height: 70px;
}

footer div.sociales a i{
  margin: 50px;
}


footer div i{
  margin: 0px 12%;
}

footer div.pagos{
  border: none;
  height: 90%;
}
footer div.pagos img{
  border: none;
  justify-content: space-around;
  margin: 10px 10px;
  max-width: 120px;
}

footer div.foot-sucursales{
  border: none;
  text-align: left;
  display:flex;
  height: 75px;
}
footer div.foot-sucursales i{
  margin: 0; 
}
/* FINAL FOOTER */

/* HOME */
.center{
  width: 91%;
  margin: 30px 0px 30px 15px;
}
.carousel{
 display: none;
}
.titulo-carousel{
  margin-top: 40px;
}
.cont h2{
  color: #6d6d6d;
}

#categories .cats {
	display: flex;
	flex-wrap: wrap
}

#categories .cats .column {
	text-align: center;
	width: 50%
}
#categories .cats .column:last-child{
	display: none;
}

#categories .cats .column a {
	background-color: #fff;
	color: #6d6d6d;
	display: flex;
	font-size: 14px;
	height: 200px;
	justify-content: center;
	outline: 1px solid #eae6e6;
	text-decoration: none;
	width: 100%;
	transition: all ease .2s;
	-moz-transition: all ease .2s;
	-webkit-transition: all ease .2s
}

#categories .cats .column a:hover {
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 2;
	transition: all ease .2s;
	-moz-transition: all ease .2s;
	-webkit-transition: all ease .2s
}

#categories .cats .column a:last-child {
	margin: 1px 0 0
}

#categories .cats .column a .svg-icon {
	margin: 60px 0 15px;
  min-height: 48px;
  
}
#categories .cats .column a img {
  width:50px;
}

#categories .cats .column a .svg-icon .arma-item-fill {
	fill:  #00587a;
}

.air {
  padding: 10px
}

/* ofertas */

.products-wrapper-home {
  margin-top: 30px;
  margin-bottom: 30px;
}
.products-title-home {
  font-size: 2.4em;
  font-weight: 400;
  color: #6d6d6d;
}
.homediv-home .product-box-home p{
  height: 40px;
  margin-top: 15px;
}

.product-box-categ {
  background-color: #ffffff;
  border-radius: 5px; 
  transition: 300ms;
  margin: 20px 0;
  padding: 5px 20px;
  overflow: hidden;
}
.product-box-home {
  background-color: #ffffff;
  border-radius: 5px; 
  transition: 300ms;
  margin: 20px 0;
}
.product-box-home a {
  display: block;
  text-decoration: none;
  color: #6d6d6d;
}
.product-box_image-home {
  border-bottom: 1px solid #6d6d6d;

}
.product-box_image-home img{
  width: 100%;
}
.product-box_data-home {
  padding: 15px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-box_data-home h2 {
  font-size: 2.4em;
  font-weight: 300;
  margin: 0;
}
.product-box_data-home span {
  font-size: 1.5em;
  font-weight: 300;
  color: #39b54a;
  margin: 0 0 0 10px;
}
.tachado-home{
  text-decoration: line-through;
}
.product-box_data-prod{
  color: #6d6d6d;
}
.categMnu li{
  width: 400px;
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid #e8e8e8;
  padding: 5px 0;
}
.categMnu li:last-child{
  border-bottom: none;
}
.dropdown-toggle{
  color: #6d6d6d;
  font-size: 20px;
}
.dropdown-toggle:hover{
  color: #6d6d6d;
}
.dropdown-item{
  color: #6d6d6d;
}

.product-box_data-home p {
  font-size: 1.5em;
  width: 100%;
  color: #6d6d6d;
  margin: 0;
  height: 0;
  transition: 300ms;
  overflow: hidden;
}

.product-box-categ:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.product-box-categ:hover a{
  text-decoration: none;
  color: #6d6d6d;
}

.product-box-home:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.product-box-home:hover a{
  text-decoration: none;
  color: #6d6d6d;
}


/* ofertas */


/* Final home */

/* Carga Producto */
.carga-content{
  background-color: #ffffff;
  padding: 0px 5% 20px 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  margin: 20px 0;
}
.carga-content h2{
  margin: 30px 0;
}
/* Final Carga Producto */



/* Registro */

div.container.form{
  max-width: 800px;
  margin:30px auto 30px auto;
  filter: drop-shadow(8px 8px 10px gray);
  -webkit-filter: drop-shadow(8px 8px 10px gray);
  
}
div.container.form h1{
  padding-bottom: 20px;
}
div.container.form input{
  width: 80%;
  outline: none;
  padding: 3px;
}

.media {
  display: flex;
  align-items: flex-start;
}
.media .content {
  flex: 1;
  padding:50px 20px;
  font-size: 10px;
}
.image img {
  max-width: 100px;
}
div.h1{
  text-align: justify;
}

div.form{ 
  margin:30px 0px 20px 0px;
  border-radius: 10px;
  border: none;
  background-color:white;
  position: relative;
  overflow: hidden;
  
   
}

div.form h1{
  text-transform: uppercase;
  text-align: center;
  color: rgb(49, 49, 49);
  font-family: Raleway;
}
div.form h2{
  text-transform: uppercase;
  text-align: left;
  color: rgb(8, 7, 43);
  font-size: 25px;
  font-family: Raleway;
}

div.form div.Entradas input{
  width: 100%;
  margin: 10px 0px;
  height: 30px;
  padding-left: 10px;
  font-family:PT Serif;
}


div.form .guardar{
  position: relative;
  border-radius: 10px;
  width: 20%;
  top:-30px;
  
 
}
div.form button{
  width:100%;
  position: relative;
  bottom: 30px;
}
div.form p{
  color: red;
  font-family: Raleway;
  font-size:12px;
  margin-left:10px;
 
}

div.form div.terminos {
  color: rgb(68, 68, 68);
  font-weight: 300;
  font-family: Raleway;
  font-size:15px;
  
}
div.form div.terminos input{
  width: 10%;
}

button.btn.btn-outline-primary.reg{
  position: relative;
  top: -25px;
  
  font-size:13px;
  
  width:100%;
}
div.button.enviar{
  display: flex;
  justify-content: center; 
}
button.btn.btn-primary.btn-lg.btn-block{
  
  justify-content: center;
  display:flex;
  font-size:13px;
  
  width:50%;
 
  
}
/* Final Registro */

/*Login*/
form.container.login{
  max-width: 400px;
  margin:30px auto 30px auto;
  
}

button.btn.btn-primary{
  width:200px;
 
}

/* Carrito */
.btn-sm{
  font-size:.600rem
}
  .container table{
    width:100%;    
    background-color:white;
    overflow: auto;
    margin:0 auto;
    border-radius: 10px;
  margin-bottom: 15px;
  
    
  }
div.content{
  color:rgb(82, 77, 77);
  font-size:60%;
}
img.primer{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
button.close{
  border-radius: 2px;
  background-color:#3759a3;
  width:20px;
  height:20px;
  display:block;
  

 
}
span{
  width:60px;
  top:30px;
}
label{
  color:rgb(82, 77, 77);
}

 
.div image{
  width:800px;
}

label.cant{
  font-size: 60%;
}

button.btn.btn-outline-primary{
  width:100%;
  height: 35px;
  font-size:10px;
}
div.content.total{
  text-align:right;
  font-size:15px;
}
button.btn.btn-outline-secondary{
  width:100%;
  height: 35px;
  font-size:15px; 
   
   position:relative;
   left:14px;
   
  
   
  
}
 input#tentacles{
   width:20%;
   height: 20%;

 }
 h1.carrito{
   margin-top: 20px;
 }


 
/* Final del Carrito */



/* Detalle de producto */

.container .product-title-1{
  font-size: 20px;
  color:#252525;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}

.product-box{
  background-color: #ffffff;
  border-radius: 5px; 
  margin: 20px 0;
  
}

.product-box-categ a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.product-box a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}
.product-box_image img{
  width: 100%;
}
.precios-detalle{
  margin-top: 10px;
}

.description{
  font-size: 15px;
  color:#252525;
  position: relative;
  top: 15%;
}
.article-col-4{
  background-color: white;
}

.forma-pago-col-4{
  position: relative;
  bottom: 10%;

}


.title-2{
  font-size: 20px;
  color: #252525;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

  .title-2{
    text-align: center;
    
 }
.precio-tachado {
  margin-top: 10px;
  margin-right: 10px;
  color: green;
  text-align: start;
}
.precio-nuevo{
  color: #252525;
  font-size: 40px;

  
}
.forma-pago{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 50%;

}
.precios-detalle{
  position: relative;
  top: 20%;
}


/* Productos similares */

 .product-sim_box{
  background-color:white ;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 10px;
  border-radius: 10px;
}
.product-sim_box h2{
  font-size: 25px;
  font-weight: bolder;
  margin-top: 15px;
  margin-left: 15px;
  text-align: center;
}

.product-simi-1 img{
  margin-top: 10px;
}

.product-simi-1-texto-1{
   float: right;
  
}
.product-simi-1 a{
  float: right;

}
.product-simi-1 h3{
  bottom: 5px;
  text-align: left;
  
 
}
.product-title_sim-2 {
  text-align: center;
}

.product-simi-2 img{
   margin-top: 20px;
  
}
.product-simi-2 p{
  float: right;
  margin-top: 20px;
  
}
.product-simi-2 a{
 float: right;
}

.product-simi-2 h3{
  bottom: 5px;
  text-align: left
}

.product-simi-3 p{
 float: right;
 margin-top:  5px;
 
}
.product-simi-3 a{
float: right;
}

.product-simi-3 h3{
  bottom: 5px;
  text-align: left
}
.product-simi-4 img{
 float: left;

  
}
.product-simi-4 p{
 float: right;
 
}
.product-simi-4 a{
float: right;
}
.product-simi-4 h3{
  bottom: 5px;
  text-align: left
}

.product-simi-4{
 text-align: center;
 margin-top: 20px;
}
.btn-login{
  margin-top: 40px;
}

/* Usuarios */
.perfil-box_datos{
  position: relative;
  left: 10%;
  width: 80%;
}
.perfil-button{
  position: relative;
  left: 17%; 
}
.usuario-box_image{
  border-right-color: #6d6d6d;
    border-right-style: solid;
    border-right-width: 1px;
    padding-right: 12px;
    
}

.usuario-box_img{
  margin-top: 40px;
  border-left: 40px;
  margin-bottom: 40px;
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
}
.bienvenida-usuario{
  color: #6d6d6d;
  font-size: 30px;
  margin-top: 3%;
  margin-left: 5%;
}


.img-usuario_perfil{
  width: 80%;
  height: auto;
  border-radius: 10% 10% ;
  position: relative;
  bottom: -5%;
  right: -9%;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}
.admin-content{
  text-align: left;
}

.perfil-usuario {
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 2%;
  border: #252525;
  color: #6d6d6d;
}
.panel-title{
  color: #6d6d6d;
  font-size: 20px;
  text-align: left;
}
.panel-body .span{
  text-align: center;
}
.panel-email{
  color: #6d6d6d;
  font-size: 20px;

}

  


/*Perfil otro*/
a.screen-reader-text:hover {
  color: #00587a;
  text-decoration: none;
  margin-bottom: 30px;
  
}
.perfil-carrito{
  margin-bottom: 30px;
  text-decoration: none !important;
  position: relative;
  top: -40px;
  left: -10px;
}


.product-box-other{ 
  position: absolute;
  left: 75%;
  /* border-left-color: #6d6d6d;
    border-left-style: solid;
    border-left-width: 1px;  
    padding-right: 12px; 
    margin-top: 1%; */
}
.perfil-product_des{
  font-size: 18px;
  margin-top: 10%;


}
.perfil-metodo{
  margin-bottom: 20px;
}

.perfil-deseados{
  margin-bottom: 30px;
  text-decoration: none;
}
.carrito-product{
  font-size: 18px;
  margin-top: 10%;
}
.perfil-metodo_pago{
  font-size: 18px;
  margin-top: 10%;
}
.perfil-editar{
  font-size: 18px;
margin-top: 10%;
}

/*Preguntas frecuentes*/
.linea {
  border-top: 1px solid black;
  height: 2px;
  padding: 0;
  margin: 20px auto 0 auto;
}

.box-preguntas{
  background-color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 2em 1em
}
.title-preg-frec{
  padding-top: 30px ;
  padding-bottom: 40px;
  text-align: center;
  
}
.preg-1{
  padding-bottom: 15px;
}

.respuesta-1{
  padding-bottom: 15px;
  margin: 1.6em 20px;
}
.preg-2{
  font-size: 32px;
}
.respuesta-2,.respuesta-3,.respuesta-4{
 padding-bottom: 15px;
 margin: 1.6em 20px;
}
.preg-3{
  font-size: 32px;
}
.preg-4{
  font-size: 32px;
}
.preg-5{
  font-size: 32px;
  padding-bottom: 10px;
}
.respuesta-5{
  padding-bottom: 50px;
  margin: 1.6em 20px;
}

 .bi-check2{
  color: #39b54a;
  font-size: 45px;
}
.bi-patch-question{
  color: red;
}
.bi-journal-text{
  color: #3759a3;
}
/*Fin de preguntas*/

/*Contacto*/
.box-contacto_ubi{
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.titulo-contacto{
  margin-left: 20px;
}
.ciudadela-contacto{
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 50px;
}

.lanus-contacto{
  margin-top: 40px ;
  margin-bottom: 40px;
  margin-left: 50px;
}
.sanmiguel-contacto{
  margin-left: 50px;
}

.bi-geo-alt{
  color: rgb(175, 47, 47);
}

.titulo-contacto{
  font-weight: 300;
}
.ciudadela-titulo{
font-weight: 600;
}
.lanus-titulo{
font-weight: 600;
}
.sanmiguel-titulo{
  font-weight: 600;

}

/*Armado PC*/

.banner-cfa-pcArmadas{

  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 15%;
}
.product-box-title-pc h2{
  font-size: 20px;
  margin-left: 5%;
  margin-right: 2%;
}
.product-box-title-pc span{
  font-size: 20px;
  margin-left: 70%;

}
.product-box-title-pc p{
  font-size: 30px;
  color:#252525;
  margin-left: 5%;

}
.homediv-home {
  padding-bottom: 10%;
}





@media (min-width: 768px) { /* Tablet */
  .icons-nav{
    order: 1;
  }
  .search-form {
    margin: 20px 0 0 50px;
    width: 83%;
  }
  .carousel{
    display: block;
   }
   .center{
     width: 99%;
     margin: 30px 0px 30px 15px;
   }
  div.content{
    font-size:15px;
  }
  label.cant{
    font-size:15px;
  }
  .carga-content{
    align-items: center;
    margin: 20px 0px;
  }
  div.form div.Entradas input{
    width: 70%;
    margin-left: 15%;
  }
  div.form div.Entradas p{
    margin-left: 15%;
  }
  .media {
    margin-left: 5%;
  }
  .perfil-box_datos{
    margin-top: 30px;
  }
}

@media (min-width: 1024px) { /* Escritorio */
  footer div.sociales a i{
    margin: 23px;
  }
  .carousel{
    display: block;
   }
   .center{
    width: 99%;
    margin: 30px 0px 30px 5px;
  }
   .slick-slide{
    width: 290px !important;
  }
  /* .slick-track{
    width: 4350px !important;
  }  */
  #categories .cats .column {
    text-align: center;
    width: 20%
  }
  #categories .cats .column:last-child{
    display: block;
  }
  .navbar-nav{
    justify-content: space-around;
  }
  .nav-link{
    font-size: 20px;
  }
  .carga-content{
    align-items: center;
  }
  .media {
    margin-left: 5%;
  }
  .perfil-box_datos{
    width: 50%;
  }
  .product-box-other{ 
    position: absolute;
    top: 20%;
     border-left-color: #6d6d6d;
      border-left-style: solid;
      border-left-width: 1px;  
      padding-right: 12px; 
      margin-top: 1%; 
  }
  .perfil-carrito{
    margin-bottom: 30px;
    text-decoration: none !important;
    position: relative;
    top: 0;
    left: 0;
  }
  .perfil-button{
    position: relative;
    left: 4%; 
  }
}
@media (min-width: 425px) {

 .precios-detalle{
   position: relative;
   top: -1%;
 }
 .forma-pago{
   position: relative;
   top: -1%;
 }
 .description{
   position: relative;
   top: 2%;
 }
 .title-2{
   position: relative;
   top: -2%;
 }
 .producto-box-other{
   display: block;
 }
 .banner-cfa-pcArmadas{
   display: block;

 }
  
 }
 



