/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Raleway:wght@100;300;400&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #e8e8e8;
  font-family: Raleway;
}
/* HEADER */
.navbar{
  background-color: #00587a;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
  width: 95%;
  padding-left: 5%;
  
}

.search-form_input {
  border: solid 1px #e8e8e8;
  display: block;
  width: 100%;
  padding: 7px 35px 7px 20px;
  height: 40px;
  border-radius: 50px;
}
.search-form_input:focus {
 outline: none;
}
.search-form_button {
  position: absolute;
  right: 7px;
  height: 60%;
  background-color: #ffffff;
  border: none;
  color: var(--gray);
  cursor: pointer;
  padding: 0px 10px;
}

.icons-nav{
  display: flex;
  margin-bottom: 8px;
  color: #e8e8e8;
}

.icon-nav{
  font-size: 35px;
}

.icon-nav a{
  color: #e8e8e8;
}

.icon-nav:last-child{
  margin-left: 20px;
}

.botonera{
  background-color: #ffffff;
  padding: 0px;
  font-size: 18px;
  font-weight: bold;
  
}

.botonera a{
  text-decoration: none;
  color: rgb(90, 90, 90);
  padding: 15px 0px;
}


/* FOOTER */

footer{
  background-color: #252525;
  color: #e8e8e8;
  height: 340px;
  display: flex;
  
}

footer div{
  border: solid 1px #e8e8e8;
  width: 100%;
  height: 100%;
  padding: 15px;
  text-align: center;
}

footer div img{
  width: 30%;
  padding-top: 20px;
}

footer div p.logo{
  padding-top: 40px;
}

footer div.sociales{
  border: none;
  font-size: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  height: 90%;
}

footer div.sociales a{
  color: #e8e8e8;
  height: 70px;
}

footer div.sociales a i{
  margin: 35px;
}


footer div i{
  margin: 0px 12%;
}

footer div.pagos{
  border: none;
  height: 90%;
}
footer div.pagos img{
  border: none;
  justify-content: space-around;
  margin: 10px 10px;
}

footer div.foot-sucursales{
  border: none;
  text-align: left;
  display:flex;
  height: 75px;
}
footer div.foot-sucursales i{
  margin: 0; 
}
/* FINAL FOOTER */

/* HOME */
#categories .cats {
	display: flex;
	flex-wrap: wrap
}

#categories .cats .column {
	text-align: center;
	width: 20%
}

#categories .cats .column a {
	background-color: #fff;
	color: #6d6d6d;
	display: flex;
	font-size: 14px;
	height: 200px;
	justify-content: center;
	outline: 1px solid #eae6e6;
	text-decoration: none;
	width: 100%;
	transition: all ease .2s;
	-moz-transition: all ease .2s;
	-webkit-transition: all ease .2s
}

#categories .cats .column a:hover {
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 2;
	transition: all ease .2s;
	-moz-transition: all ease .2s;
	-webkit-transition: all ease .2s
}

#categories .cats .column a:last-child {
	margin: 1px 0 0
}

#categories .cats .column a .svg-icon {
	margin: 60px 0 15px;
  min-height: 48px;
  
}
#categories .cats .column a img {
  width:50px;
}

#categories .cats .column a .svg-icon .arma-item-fill {
	fill:  #00587a;
}
/* #categories .cats .column {    -------------MOBILE--------------
  width: 25%
} 
#categories .cats .column:last-child {
  display: none
}*/
.air {
  padding: 10px
}
/* Final home */

/* Registro */
.media {
  display: flex;
  align-items: flex-start;
}
.media .content {
  flex: 1;
  padding:70px 20px;
  font-size: 10px;
}
.image img {
  max-width: 100px;
}
div.h1{
  text-align: justify;
}
input:focus {
  border: 2px solid #000;
  background: #F3F3F3;
}
div.form{
  width: 500px;    
  margin: 0 auto;
  align-content: center;
  border-radius: 10px;
  border: none;
  background-color:#E6EBF2;
  position: relative;
  top: 50px;
    
}
div.form h1{
  text-transform: uppercase;
  text-align: center;
  color: rgb(49, 49, 49);
  font-family: Raleway;
}
div.form h2{
  text-transform: uppercase;
  text-align: left;
  color: rgb(8, 7, 43);
  font-size: 25px;
  font-family: Raleway;
}
div.form div.Entradas{
  margin-top: 5px;
  padding-top: 5px;
  
}
div.form div.Entradas input{
  width: 100%;
  margin: 10px 0px;
  height: 30px;
  padding-left: 10px;
  font-family:PT Serif;
}


div.form .guardar{
  border-radius: 10px;
  width: 20%;
  top:20px;
  
  
 
}
div.form button{
  width:100%;
  
}
div.form p{
  color: red;
  font-family: Raleway;
}

div.form div.terminos {
  color: rgb(68, 68, 68);
  font-weight: 300;
  font-family: Raleway;
  font-size:15px;
}

/* Detalle de producto */

div.productos{
  background-color: white;
  margin-left: 5px;

}
div.productos.img{
  width: 50%;
  height:auto;
}